<app-header></app-header> 

<div class="container-fluid mt-4">
    <div class="col-lg-12 mx-auto px-4">
        <div class="d-flex justify-content-between align-items-baseline">
            <div class="sub_head"><span>//</span> roles 
           <input type="text-rName" name="inputSearch" id="inputSearch" placeholder="search" style="margin-left:1200px"  [(ngModel)]="searchtext" >
               <i class="fa fa-search"></i>
            </div>
            <button  class="btn ms-auto" data-toggle="modal" data-target="#RoleModal" (click)="adduser()" >Add</button>
        </div>
        <div class="grid_bg">
            <div class="dash">
                <table class="table table-borderless align-middle ">
                    <thead>
                        <tr>
                            <!-- <th>role id</th> -->
                            <th scope="col"  [appSort]="roledata" data-order="desc" data-name="rName">role name</th>
                            <th scope="col"  [appSort]="roledata" data-order="desc" data-name="rType">role type</th>
                            <th scope="col" >status</th>
                            <th scope="col"  [appSort]="roledata" data-order="desc" data-name="rTs">timestamp</th>
                            
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of roledata |search:searchtext">
                            <!-- <td>{{i.rId}}</td> -->
                            <td>{{i.rName}}</td>
                            <td>{{i.rType}}</td>
                            <td>{{i.rStatus}}</td>
                            <td>{{i.rTs |date:'MM.dd.YY'}}</td>
                            <td><img src="assets/images/Edit.png" class="img-fluid" alt=""  id="img"   data-toggle="modal" data-target="#RoleModal" (click)="edit(i)"></td>
                            <td><img src="assets/images/Delete.png" class="img-fluid" alt=""  id="img" (click)="remove(i)"></td>


                        </tr>
                        <tr *ngIf="this.s==0">
                            <td></td>
                            <td></td>
                            
                            <td style="text-align:center;font-size:20px"><b> NO DATA FOUND </b></td>
                            <td></td>
                            <td></td>
                    </tr>
                       
                    </tbody>
                </table>
                      <div *ngIf="(roledata | search:searchtext).length == 0 ">
                       
                        <span style="color:crimson;text-align:center" > <b>NO RESULTS FOUND </b> </span>
                      
                    </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="RoleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header add_sett">
        <div class="header d-flex align-items-center">
          <h5 class="m-0 ms-2">
              <img src="" alt=""> <span class="slash">//</span>Roles
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left:240px;">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      </div>
      <div class="modal-body">
        <div class="add_sett">
            <div class="cont d-flex flex-column align-items-center justify-content-center">
                <div class="container-fluid">
                    <div class="row mb-3 ">
                    <div class="col-12">
                        <div class=" form-group set">
                            <label>Role Name : </label>
                            <input type="name" class="form-control" [(ngModel)]="role" #r1="ngModel" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class=" form-group set">
                            <label for="">Role Type : </label>
                            <select class="form-select" aria-label="" [(ngModel)]="type" #r2="ngModel" required>
                                <option selected>select</option>
                                <option value="A">Admin</option>
                               <option value="U">User</option>
                               </select>
                        </div>
                    </div>
                
                
                    <div class="col-6">
                        <div class=" form-group set">
                            <label for="">Status : </label>
                            <select class="form-select" aria-label="" [(ngModel)]="status" #r3="ngModel" required>
                                <option selected>select</option>
                                <option value="Y">Active</option>
                               <option value="N">Not Active</option>
                              <!-- <option value="Delete">Delete</option> -->
                               </select>
                        </div>
                    </div>
               </div>
               
                    <div class="row mb-3 " style="margin-top:20px">
                    <div class="col-12 d-flex justify-content-center">
                        <div class=" form-group set">
                           
                            <div *ngIf="add12">
                            <button type="button" class="btn btn-primary"    (click)="saveroles()"    [disabled]="r1.invalid||(r2.pristine||r3.pristine)"  >Save changes</button></div>
                             <div *ngIf="save" >
                             <button type="button" class="btn btn-primary" (click)="editsave( datatoedit.rId)"  [disabled]="r1.invalid||(r2.pristine||r3.pristine)" >Save changes</button></div>
                        </div>
                    </div>
                </div>
               
                </div>
            </div>
        </div>
    </div>
      
    </div>
  </div>


