<app-header></app-header>
<div class="container-fluid">
    <div class="col-12">
        <div class="row deal">
            <h3>DEAL PROGRESS</h3>
            <div class="col-lg-3">
            <div class="row">
                <div class="col-7">
                    <h6>Days in Queue</h6>
                    <h6>Days in CIT:</h6>
                    <h6>Days till Temp Tag Expiry:</h6>
                </div>
                <div class="col-5">
                    <h5>12</h5>
                    <h5>18 (Not Funded)</h5>
                    <h5>30</h5>
                </div>
            </div>
            </div>
        
            <div class="col-lg-4">
         <div class="row">
            <div class="col-6">
                <h4>Salesperson 1: <span>Fred Jones</span></h4>
                <h4>Salesperson 2: <span>Andrew Clawson</span></h4>
                <h4>F&I Manager: <span>Tom Brady</span></h4>
            </div>
            <div class="col-6">
                <h4>Desk Manager: <span>Larry Nelson</span></h4>
                <h4>Accounting Clerk: <span>sandra Smith</span></h4>
                <h4>Title Clerk: <span>Andrew James</span></h4>
            </div>
         </div>
            </div>
            <div class="col-12">
                <div class="col-2">
                    <button type="button" class="btn btn-red">OFF TRACK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row temp">
        <div class="pe-1 w-250">
        <div class="tag p-3 pb-4">
        <h1 class="pt-2 pb-3 border-bottom">Nancy Weeks</h1>
        <div class="pt-2">
        <h4 class="mb-0 pb-0">2022 Toyota</h4>
        <h5 class="mt-0 pt-0">4Runner TRD Offroad</h5>
        
        <div class="row">
            <div class="col-6"><h3>Deal:<span>u23561</span></h3></div>
            <div class="col-6"><h3>Stock:<span>45123Y</span></h3></div>
            <div class="col-6"><h3>Date:<span>06.03.22</span></h3></div>
            <div class="col-6"><h3>VIN:<span>713546</span></h3></div>
        </div>
        </div>
        </div>
        <div class="tag gray-bg p-3 pb-4" >
            <h2 class="pt-1 pb-2 border-bottom">TRADE</h2>
            <div class="pt-2">
            <h4 class="mb-0 pb-0">2015 Toyota</h4>
            <h5 class="mt-0 pt-0">Tacoma SLE</h5>
            
            <div class="row">
            <div class="col-12"><h3>STOCK:<span>45123B</span></h3></div>
            <div class="col-12"><h3>VIN:<span>326543</span></h3></div>
            <div class="col-12"><h3>ACV:<span>$19,900</span></h3></div>
            </div>
            </div>
        </div>
        </div>

        <div class="chevrn-rt">
            <i class="fa-solid fa-chevron-right "></i>
            <i class="fa-solid fa-chevron-right "></i>
            <i class="fa-solid fa-chevron-right "></i>
        </div>

        <div class="ps-1 w-200">
            <div class="tag p-3 mb-2">
                <h6 class="pb-0">Temp Tag</h6>
                <div class="row">
                <div class="col-12"><h3>Expiration:<span>07.18.22</span></h3></div>
                <div class="col-12"><h3>Number:<span>CJ689976</span></h3></div>
                <div class="col-12"><h3>Days Remaining:<span>30</span></h3></div>
                </div>
            </div>

            <div class="tag p-3 mb-2">
                <h6 class="pb-0">CIT Created</h6>
                <div class="row">
                <div class="col-12"><h3>Date:<span>07.18.22</span></h3></div>
                <div class="col-12"><h3>Balance:<span>$35,975</span></h3></div>
                <div class="col-12"><h3>Current:<span>Funded</span></h3></div>
                </div>
            </div>

            <div class="tag p-3 mb-2">
                <h6 class="pb-0">Trade Paid Off</h6>
                <div class="row">
                <div class="col-12"><h3>Date:<span>07.18.22</span></h3></div>
                <div class="col-12"><h3>Amount:<span>$20,500</span></h3></div>
                <div class="col-12"><h3>Negatice Equity:<span>$1,600</span></h3></div>
                </div>
            </div>
        </div>
    </div>
   
</div>