<app-header></app-header>
<div class="container-fluid mt-4">
    <div class="col-lg-12 mx-auto px-4 ">
        <div class="d-flex justify-content-between align-items-baseline"><div class="sub_head"><span>//</span> settings </div><button class="btn ms-auto">Add </button></div>
        <div class="grid_bg">
            <div class="dash">
                <table class="table table-borderless align-middle ">
                    <thead>
                        <tr>
                            <th>tracking steps</th>
                            <th>include</th>
                            <th>sequence</th>
                            <th>dependencies</th>
                            <th>notifications</th>
                            <th>within</th>
                            <th>type</th>
                            <th>tracking steps</th>
                            <th>DMS evidence</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>post-delivery inspection</td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                </div>
                            </td>
                            <td>1</td>
                            <td>temp tag</td>
                            <td>salesperson</td>
                            <td>2 days</td>
                            <td>automotic</td>
                            <td>post-delivery inspection</td>
                            <td>Generally the deal date – there should be a service record for the PDI (post-delivery, not pre-delivery)</td>
                        </tr>
                        <tr>
                            <td>post-delivery inspection</td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="" checked>
                                </div>
                            </td>
                            <td>1</td>
                            <td>temp tag</td>
                            <td>salesperson</td>
                            <td>1 day</td>
                            <td>automotic</td>
                            <td>post-delivery inspection</td>
                            <td>Generally the deal date – there should be a service record for the PDI (post-delivery, not pre-delivery)</td>
                        </tr>
                        <tr>
                            <td>post-delivery inspection</td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                </div>
                            </td>
                            <td>1</td>
                            <td>temp tag</td>
                            <td>salesperson</td>
                            <td>15 days</td>
                            <td>automotic</td>
                            <td>post-delivery inspection</td>
                            <td>Generally the deal date – there should be a service record for the PDI (post-delivery, not pre-delivery)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="add_sett d-none" >
            <div class="header d-flex align-items-center">
                <h5 class="m-0 ms-2">
                    <img src="" alt=""> <span class="slash">//</span>Settings
                </h5>
                <a type="button" class="ms-auto me-2"><img src="../../assets/images/cls.png" alt=""> </a>
            </div>
            <div class="cont d-flex flex-column align-items-center justify-content-center">
                <div class="container-fluid">
                    <div class="row mb-3 ">
                        <div class="col-12">
                            <div class=" form-group set">
                                <label>Tracking Steps:</label>
                                <input type="name" class="form-control" placeholder="Type...">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mb-3 ">
                        <div class="col-4 mt-2">
                            <div class="from-group set">
                                <label for="" class="form-label">Include:</label>
                            </div>
                            <div class="form-check form-check-inline">
                               <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                               <label class="form-check-label" for="inlineRadio1">Yes</label>
                             </div>
                             <div class="form-check form-check-inline">
                               <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                               <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class=" form-group set">
                                <label>Sequence:</label>
                                <input type="name" class="form-control" placeholder="Type..">
                            </div>
                        </div>
                        <div class="col-5">
                            <div class=" form-group set">
                                <label>Dependencies:</label>
                                <input type="name" class="form-control" placeholder="Type...">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <div class=" form-group set">
                                <label for="">Notifications:</label>
                                <select class="form-select" aria-label="">
                                    <option selected>Sales Person</option>
                                    <option value="1">F&I Manager</option>
                                   <option value="3">Title Clerk</option>
                                   <option value="2">Controller</option>
                                 </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class=" form-group set">
                                <label>Within:</label>
                                <input type="name" class="form-control" placeholder="Type...">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class=" form-group set">
                                <label for="">Type:</label>
                                <select class="form-select" aria-label="">
                                    <option selected>Automotic</option>
                                    <option value="1">Manual</option>
                                   
                                 </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 set">
                            <label for="" class="form-label">DMS Evidence:</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <div class="btn sub_btn me-2" type="button" >Submit</div>
                            <div class="btn can_btn ms-2" type="button" >Cancel</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <div class="container d-none">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="card login-content shadow-lg border-0">
					<div class="card-body">
						<div class="text-center">
							<img src="../../assets/images/west_logo.png"  class="logo">
						</div>
					<div class="text-logo">Sign In</div>
					<form class="text-center">
						<input class="form-control border-0" type="" name="" placeholder="Type Your Username">
						<br>
						<input class="form-control border-0" type="" name="" placeholder="Type Your Password">
						<br>
						<button class="btn btn-primary btn-sm border-0" type="submit" name="submit">Sign In</button>
						<p class="forgot"><a href="">Forgot Password?</a></p>
					</form>
					</div>
					<div class="ftr">
						Not a member? <a href="">Create an Account</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>