<app-header></app-header>

<div class="container-fluid mt-4">
    <div class="col-lg-12 mx-auto px-4">
        <div class="sub_head"><span>//</span> Deal Log</div>
        <div class="grid_bg">
        <div class="deallog ">
            <table >
                <thead>
                    <tr >
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="2">Customer</th>
                        <!-- <th></th> -->
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Action</th>
                        <th>Messages</th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Age
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Deal Date
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                First Name
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Last Name
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Deal #
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Stock #
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Store
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               N / U 
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Price
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Trade
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Trade Price
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Salesperson 1
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Salesperson 2
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                F&I Manager
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sales Manager
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Controller
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Date
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Date
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Date
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Date
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Date
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                        <td>2022-05-15</td>
                        <td>2022-05-15</td>
                        <td>2022-05-15</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr  class="red-bg">
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr class="red-bg">
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>                
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr class="red-bg">
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>                
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                   
                </tbody>
                </table>
        </div>
    </div>
    </div>
</div>